*{box-sizing: border-box;}

body{
    width: 960px;
    margin: auto;
    height:max-content;

    
}
main{
    line-height: 1.5;
    text-align: center;
}
header {

    text-align: center;
}
h1{
    font-weight: bolder;
    font-size: larger;
}

main h3 {

    font-weight: lighter;
    font-size: large;
}

div{

    background-color: lightgray;
    display: inline-flex;
    

}
img{
    display: block;
}
form select{
    width: 150px;
}

form ul {
    text-align: justify;
}
